@import 'tailwindcss';
@import 'tw-animate-css';
@import './animations.css';
@source "../**/*.{ts,tsx}";

/* Class (.dark) + attribute (data-theme) hosts */
@custom-variant dark (
	&:where(.dark, .dark *, [data-theme='dark'], [data-theme='dark'] *)
);

@import './tokens.css';

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground relative;
	}
}

@layer base {
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		@apply border-border;
	}
	* {
		@apply min-w-0;
	}
	html {
		@apply scroll-smooth;
		text-rendering: optimizelegibility;
	}
	body {
		@apply min-h-dvh;
		font-synthesis-weight: none;
		text-rendering: optimizeLegibility;
	}
	input::placeholder,
	textarea::placeholder {
		@apply text-foreground-muted;
	}
	button:not(:disabled),
	[role='button']:not(:disabled) {
		@apply cursor-pointer;
	}

	@supports (font: -apple-system-body) and (-webkit-appearance: none) {
		[data-wrapper] {
			@apply min-[1800px]:border-t;
		}
	}
}

@import './utilities.css';
@import './typography.css';
