@import 'tailwindcss';
@import 'tw-animate-css';
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
	--accent: oklch(0.633 0.1528 42.11);
	--accent-contrast: oklch(0.978 0.002 264.54);

	--foreground: oklch(0.3012 0 0);
	--foreground-muted: oklch(0.4489 0.0032 106.53);
	--foreground-inverted: oklch(0.9531 0.0173 99.6);

	--background: oklch(0.9529 0.0186 100.13);
	--background-secondary: oklch(1 0 0);
	--background-muted: oklch(0.9169 0.0175 99.62);
	--background-inverted: oklch(0.3012 0 0);

	--popover: oklch(0.9717 0.0106 100.82);
	--popover-contrast: oklch(0.145 0 0);

	--destructive: oklch(0.5239 0.2037 10.67);
	--destructive-contrast: oklch(1 0 0);
	--destructive-background: oklch(0.8968 0.0199 17.53);
	--destructive-background-muted: oklch(0.9193 0.0102 32.52);

	--success: oklch(0.5065 0.1288 151.57);
	--success-contrast: oklch(1 0 0);
	--success-background: oklch(0.9008 0.0159 139.44);
	--success-background-muted: oklch(0.9227 0.0115 128.6);

	--info: oklch(0.492 0.18 257.73);
	--info-contrast: oklch(1 0 0);
	--info-background: oklch(0.8978 0.0105 247.94);
	--info-background-muted: oklch(0.9199 0.0035 219.54);

	--warning: oklch(0.5383 0.1064 73.12);
	--warning-contrast: oklch(1 0 0);
	--warning-background: oklch(0.9046 0.0158 86.43);
	--warning-background-muted: oklch(0.9243 0.0109 95.17);

	--border: oklch(0.8282 0.0069 106.55);
	--ring: oklch(0.708 0 0);

	--sidebar: var(--background);
	--sidebar-foreground: var(--foreground);
	--sidebar-secondary: var(--background-inverted);
	--sidebar-secondary-contrast: var(--foreground-inverted);
	--sidebar-muted: var(--background-muted);
	--sidebar-muted-contrast: var(--foreground);
	--sidebar-border: var(--border);
	--sidebar-ring: var(--ring);

	--chart-1: var(--color-blue-300);
	--chart-2: var(--color-blue-500);
	--chart-3: var(--color-blue-600);
	--chart-4: var(--color-blue-700);
	--chart-5: var(--color-blue-800);

	--colors-shiki-foreground: #2e2e2e;
	--colors-shiki-background: #e6e4d7;
	--shiki-token-constant: #0550ae;
	--colors-shiki-token-string: #0a3069;
	--colors-shiki-token-comment: #6e7781;
	--colors-shiki-token-keyword: #cf222e;
	--colors-shiki-token-parameter: #116329;
	--colors-shiki-token-function: #8250df;
	--colors-shiki-token-string-expression: #0a3069;
	--colors-shiki-token-punctuation: #212121;
	--colors-shiki-token-link: #0a3069;
}

.dark {
	--accent: oklch(0.673 0.1441 38.97);
	--accent-contrast: oklch(1 0 0);

	--foreground: oklch(0.852 0.0205 100.63);
	--foreground-muted: oklch(0.7418 0.0169 102.93);
	--foreground-inverted: oklch(0.2393 0 0);

	--background: oklch(0.2393 0 0);
	--background-secondary: oklch(0.2002 0 0);
	--background-muted: oklch(0.3329 0 0);
	--background-inverted: oklch(0.852 0.0205 100.63);

	--popover: oklch(0.2002 0 0);
	--popover-contrast: oklch(0.985 0 0);

	--destructive: oklch(0.6563 0.2185 4.63);
	--destructive-contrast: oklch(1 0 0);
	--destructive-background: oklch(0.2818 0.0306 358.65);
	--destructive-background-muted: oklch(0.2578 0.0127 1.22);

	--success: oklch(0.7331 0.1932 150.75);
	--success-contrast: oklch(1 0 0);
	--success-background: oklch(0.293 0.0261 153.51);
	--success-background-muted: oklch(0.2653 0.0113 156.37);

	--info: oklch(0.7266 0.1349 253.3);
	--info-contrast: oklch(1 0 0);
	--info-background: oklch(0.2947 0.0169 255.65);
	--info-background-muted: oklch(0.2631 0.0087 255.58);

	--warning: oklch(0.7819 0.1585 72.33);
	--warning-contrast: oklch(1 0 0);
	--warning-background: oklch(0.3012 0.0214 78.96);
	--warning-background-muted: oklch(0.2679 0.0131 72.27);

	--border: oklch(0.3794 0.0036 84.57);
	--ring: oklch(0.439 0 0);

	--chart-1: var(--color-blue-300);
	--chart-2: var(--color-blue-500);
	--chart-3: var(--color-blue-600);
	--chart-4: var(--color-blue-700);
	--chart-5: var(--color-blue-800);

	--colors-shiki-foreground: #d1cfc0;
	--colors-shiki-background: #363636;
	--colors-shiki-token-constant: #79c0ff;
	--colors-shiki-token-string: #a5d6ff;
	--colors-shiki-token-comment: #8b949e;
	--colors-shiki-token-keyword: #ff7b72;
	--colors-shiki-token-parameter: #7ee787;
	--colors-shiki-token-function: #d2a8ff;
	--colors-shiki-token-string-expression: #a5d6ff;
	--colors-shiki-token-punctuation: #212121;
	--colors-shiki-token-link: #a5d6ff;
}

@theme inline {
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--color-accent: var(--accent);
	--color-accent-contrast: var(--accent-contrast);

	--color-foreground: var(--foreground);
	--color-foreground-muted: var(--foreground-muted);
	--color-foreground-inverted: var(--foreground-inverted);

	--color-background: var(--background);
	--color-background-inverted: var(--background-inverted);
	--color-background-secondary: var(--background-secondary);
	--color-background-muted: var(--background-muted);

	--color-destructive: var(--destructive);
	--color-destructive-contrast: var(--destructive-contrast);
	--color-destructive-background: var(--destructive-background);
	--color-destructive-background-muted: var(--destructive-background-muted);

	--color-success: var(--success);
	--color-success-contrast: var(--success-contrast);
	--color-success-background: var(--success-background);
	--color-success-background-muted: var(--success-background-muted);

	--color-info: var(--info);
	--color-info-contrast: var(--info-contrast);
	--color-info-background: var(--info-background);
	--color-info-background-muted: var(--info-background-muted);

	--color-warning: var(--warning);
	--color-warning-contrast: var(--warning-contrast);
	--color-warning-background: var(--warning-background);
	--color-warning-background-muted: var(--warning-background-muted);

	--color-border: var(--border);
	--color-ring: var(--ring);

	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-secondary: var(--sidebar-secondary);
	--color-sidebar-secondary-contrast: var(--sidebar-secondary-contrast);
	--color-sidebar-muted: var(--sidebar-muted);
	--color-sidebar-muted-contrast: var(--sidebar-muted-contrast);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);

	--color-gray-950: #000000;
	--color-gray-900: #0a0a0a;
	--color-gray-800: #262626;
	--color-gray-700: #3c3c43;
	--color-gray-600: #71717a;
	--color-gray-400: #a1a1aa;
	--color-gray-300: #d4d4d8;
	--color-gray-200: #e4e4e7;
	--color-gray-100: #f4f4f5;
	--color-gray-50: #f8fafc;

	--radius-base: 0.75rem;
	--radius-compact: calc(var(--radius-base) - 2px);
	--radius-container: calc(var(--radius-base) * 2);

	--spacing: 4px;

	--spacing-proximity-1\/4: calc(var(--spacing-proximity) / 4);
	--spacing-proximity-1\/2: calc(var(--spacing-proximity) / 2);
	--spacing-proximity: 16px;
	--spacing-proximity-1\.5: calc(var(--spacing-proximity) * 1.5);
	--spacing-proximity-2: calc(var(--spacing-proximity) * 2);
	--spacing-proximity-3: calc(var(--spacing-proximity) * 3);
	--spacing-proximity-4: calc(var(--spacing-proximity) * 4);
	--spacing-proximity-5: calc(var(--spacing-proximity) * 5);
	--spacing-proximity-7\.5: calc(var(--spacing-proximity) * 7.5);

	--spacing-bff: var(--spacing-proximity-1\/4);
	--spacing-best-friends: var(--spacing-proximity-1\/2);
	--spacing-friends: var(--spacing-proximity);
	--spacing-casual: var(--spacing-proximity-1\.5);
	--spacing-acquaintances: var(--spacing-proximity-4);
	--spacing-distant: var(--spacing-proximity-5);
	--spacing-strangers: var(--spacing-proximity-7\.5);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-shake: shake 0.8s cubic-bezier(0.4, 0, 0.2, 1);
	--animate-pop: pop 0.8s cubic-bezier(0.4, 0, 0.2, 1);
	--animate-caret-blink: caret-blink 0.8s cubic-bezier(0.4, 0, 0.2, 1);
	--animate-rubber: rubber 0.8s cubic-bezier(0.4, 0, 0.2, 1);
	--animate-squeeze: squeeze 0.8s cubic-bezier(0.4, 0, 0.2, 1);
	--animate-loader: loader 0.8s cubic-bezier(0.4, 0, 0.2, 1);
	--animate-loader-inner: loader-inner 0.8s cubic-bezier(0.4, 0, 0.2, 1);
	--animate-marquee: marquee var(--duration) infinite linear;
	--animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

	--color-popover: var(--popover);
	--color-popover-contrast: var(--popover-contrast);
	--radius-popover: var(--radius-base);
	--spacing-popover: var(--spacing-friends);
	--spacing-popover-compact: var(--spacing-best-friends);

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}

	@keyframes shake {
		0% {
			transform: translateX(0px);
		}
		15% {
			transform: translateX(-3px);
		}
		25% {
			transform: translateX(3px);
		}
		45% {
			transform: translateX(-2px);
		}
		65% {
			transform: translateX(3px);
		}
		85% {
			transform: translateX(-2px);
		}
		100% {
			transform: translateX(0px);
		}
	}

	@keyframes pop {
		0% {
			transform: scaleX(1) scaleY(1);
		}
		20%,
		45% {
			transform: scaleX(1.35) scaleY(0.1);
		}
		65% {
			transform: scaleX(0.8) scaleY(1.7);
		}
		80% {
			transform: scaleX(0.6) scaleY(0.85);
		}
		100% {
			transform: scaleX(1) scaleY(1);
		}
	}

	@keyframes caret-blink {
		0%,
		70%,
		100% {
			opacity: 1;
		}
		20%,
		50% {
			opacity: 0;
		}
	}

	@keyframes rubber {
		0% {
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
		}
		30% {
			-webkit-transform: scale3d(1.25, 0.75, 1);
			transform: scale3d(1.25, 0.75, 1);
		}
		40% {
			-webkit-transform: scale3d(0.75, 1.25, 1);
			transform: scale3d(0.75, 1.25, 1);
		}
		50% {
			-webkit-transform: scale3d(1.15, 0.85, 1);
			transform: scale3d(1.15, 0.85, 1);
		}
		65% {
			-webkit-transform: scale3d(0.95, 1.05, 1);
			transform: scale3d(0.95, 1.05, 1);
		}
		75% {
			-webkit-transform: scale3d(1.05, 0.95, 1);
			transform: scale3d(1.05, 0.95, 1);
		}
		100% {
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
		}
	}

	@keyframes squeeze {
		0% {
			transform: scaleY(1);
		}
		15% {
			transform: scaleY(0.95);
		}
		30% {
			transform: scaleY(0.9);
		}
		55% {
			transform: scaleY(0.75);
		}
		70% {
			transform: scaleY(1.3);
		}
		85% {
			transform: scaleY(0.95);
		}
		90% {
			transform: scaleY(1);
		}
	}

	@keyframes loader {
		0% {
			transform: rotate(0deg);
		}
		25% {
			transform: rotate(180deg);
		}
		50% {
			transform: rotate(180deg);
		}
		75% {
			transform: rotate(360deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes loader-inner {
		0% {
			height: 0%;
		}
		25% {
			height: 0%;
		}
		50% {
			height: 100%;
		}
		75% {
			height: 100%;
		}
		100% {
			height: 0%;
		}
	}

	@keyframes marquee {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(calc(-100% - var(--gap)));
		}
	}

	@keyframes marquee-vertical {
		from {
			transform: translateY(0);
		}
		to {
			transform: translateY(calc(-100% - var(--gap)));
		}
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer base {
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		@apply border-border;
	}
	* {
		@apply min-w-0;
	}
	html {
		@apply scroll-smooth;
		text-rendering: optimizelegibility;
	}
	body {
		@apply min-h-dvh;
		font-synthesis-weight: none;
		text-rendering: optimizeLegibility;
	}
	input::placeholder,
	textarea::placeholder {
		@apply text-foreground-muted;
	}
	button:not(:disabled),
	[role='button']:not(:disabled) {
		@apply cursor-pointer;
	}

	@supports (font: -apple-system-body) and (-webkit-appearance: none) {
		[data-wrapper] {
			@apply min-[1800px]:border-t;
		}
	}
}

@utility prose {
	--tw-prose-body: var(--color-foreground);
	--tw-prose-headings: var(--color-foreground);
	--tw-prose-lead: var(--color-foreground-muted);
	--tw-prose-links: var(--color-foreground);
	--tw-prose-bold: var(--color-foreground);
	--tw-prose-counters: var(--color-foreground);
	--tw-prose-bullets: var(--color-foreground-muted);
	--tw-prose-hr: var(--color-foreground-muted);
	--tw-prose-quotes: var(--color-foreground-muted);
	--tw-prose-quote-borders: var(--color-border);
	--tw-prose-captions: var(--color-foreground-muted);
	--tw-prose-code: var(--color-foreground);
	--tw-prose-pre-code: var(--color-foreground);
	--tw-prose-pre-bg: var(--color-background-muted);
	--tw-prose-th-borders: var(--color-border);
	--tw-prose-td-borders: var(--color-border);
	--tw-prose-invert-body: var(--color-foreground);
	--tw-prose-invert-headings: var(--color-foreground);
	--tw-prose-invert-lead: var(--color-foreground-muted);
	--tw-prose-invert-links: var(--color-foreground);
	--tw-prose-invert-bold: var(--color-foreground);
	--tw-prose-invert-counters: var(--color-foreground);
	--tw-prose-invert-bullets: var(--color-foreground);
	--tw-prose-invert-hr: var(--color-foreground-muted);
	--tw-prose-invert-quotes: var(--color-foreground-muted);
	--tw-prose-invert-quote-borders: var(--color-border);
	--tw-prose-invert-captions: var(--color-foreground-muted);
	--tw-prose-invert-code: var(--color-foreground);
	--tw-prose-invert-pre-code: var(--color-foreground);
	--tw-prose-invert-pre-bg: var(--color-background);
	--tw-prose-invert-th-borders: var(--color-border);
	--tw-prose-invert-td-borders: var(--color-border);
}

@utility container {
	margin-inline: auto;
	padding-inline: 1rem;
}

@utility no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

@utility extend-touch-target {
	@media (pointer: coarse) {
		@apply relative touch-manipulation after:absolute after:-inset-2;
	}
}

@import './typography.css';
