@utility container {
	margin-inline: auto;
	padding-inline: 1rem;
}

@utility no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

@utility extend-touch-target {
	@media (pointer: coarse) {
		@apply relative touch-manipulation after:absolute after:-inset-2;
	}
}

@utility bg-blurred {
	@apply bg-background/10 backdrop-blur-sm backdrop-saturate-150;
}
