name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

env:
  NEXT_PUBLIC_URL: 'https://ui.nerdfish.be'

jobs:
  release:
    timeout-minutes: 15
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: ⬇️ Checkout repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Install
        uses: ./tooling/github-actions/install

      - name: Build packages
        run: pnpm run build:packages

      - name: Create Version PR or Publish to NPM
        id: changesets
        uses: changesets/action@c48e67d110a68bc90ccf1098e9646092baacaa87 # v1.6.0
        with:
          version: pnpm run changeset:version
          commit: 'chore(release): publish'
          title: 'chore(release): publish'
          publish: pnpm changeset:release
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
